/* 初始化 */
body {
  background: #f1f2f6;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* 头部 */
.header-wrap {
  position: relative;
  height: 50px;
  min-width: 990px;
  background: rgba(0, 0, 0, 0.67);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}

@media screen and (max-width: 1500px) {
  .header-wrap .header-menu {
    position: relative;
    width: 990px;
    height: 50px;
    margin: 0 auto;
  }
}
.header-wrap .logo {
  position: absolute;
  left: 0;
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  background: url("../images/logo_cn.png") 0 center no-repeat;
}
.mobile-qr .mobile {
  padding-left: 14px;
  line-height: 50px;
  background: url("../images/header_mobile.png") 0 center no-repeat;
  color: #ff7e3e;
  font-size: 14px;
  display: block;
  text-decoration: none;
}
.header-wrap .mobile-qr {
  position: absolute;
  left: 162px;
  width: 70px;
  height: 50px;
  line-height: 50px;
  z-index: 99;
}

.header-wrap .mobile-qr .qr {
  width: 151px;
  padding: 16px 16px 10px;
  background: #fff;
}
.header-wrap .mobile-qr .qr strong {
  display: block;
  line-height: 24px;
  color: #454545;
  text-align: center;
  font-size: 14px;
}

.header-wrap .mobile-qr .qr span {
  display: block;
  height: 151px;
  background: url("../images/header_qr.png") center no-repeat;
}

.header-wrap .header-menu-list {
  position: absolute;
  line-height: 50px;
  left: 30%;
  padding: 0;
  margin: 0;
  height: 50px;
}
.header-wrap .header-menu-list li {
  float: left;
  font-size: 16px;
  color: #fff;
  padding: 0 8px;
}
.header-wrap .header-menu-list li a {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.header-wrap .header-menu .login-register {
  float: right;
  overflow: hidden;
}
@media screen and(max-width: 1500px) {
  .header-wrap .header-menu .login-register {
    margin-right: 0;
  }
}
.header-wrap .header-menu .login-register a {
  float: left;
  line-height: 18px;
  /* 偏移一像素 */
  margin: 16px 0 0 -1px;
  padding: 0 5px;
  border-left: 1px solid #fff;
  color: #fff;
  outline: none;
  text-decoration: none;
  font-size: 14px;
}
.header-wrap .header-menu .header_icon {
  width: 16px;
  vertical-align: middle;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/header_icon.png") no-repeat;
}

.header-wrap .header-menu .header-more-list {
  position: absolute;
  left: 450px;
  width: 182px;
  padding: 35px 0;
  background: #fff;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  z-index: 999;
}

@media screen and (max-width: 1500px) {
  .header-wrap .header-menu .header-more-list {
    left: 300px;
    width: 364px;
  }
  .header-wrap .header-menu .header-more-list ul {
    width: 182px;
  }
  .header-wrap .header-menu .header-more-list ul li {
    width: 133px !important;
  }
}
.header-wrap .header-menu .header-more-list ul {
  width: 364px;
  margin: -6px 0 0 1px;
}
.header-wrap .header-menu .header-more-list ul li {
  float: left;
  padding: 0;
  margin: 0 0 0 48px;
  width: 182px;
  height: 30px;
  line-height: 30px;
  list-style-type: disc;
  border-right: 1px solid #dfdfdf;
  color: #6d6d6d;
  font-size: 14px;
  text-align: left;
}
.header-wrap .header-menu .header-more-list a {
  text-decoration: none;
  color: #6d6d6d;
  font-size: 14px;
}

.header-wrap .header-menu .hearder_search {
  background-position: 0 -31px;
  height: 16px;
  margin-right: 5px;
}
.header-wrap .header-menu .header_revise {
  background-position: 0 -13px;
  height: 16px;
  margin-top: -3px;
}

.header-wrap .header-menu .header-menu-list i {
  width: 10px;
  height: 10px;
  background-position: 0 -49px;
  display: inline-block;
  margin: 6px 0 0 5px;
}

/* 主要内容部分 */
.main {
  width: 960px;
  margin: 20px auto;
}

.box {
  background: #fff;
  border-radius: 5px;
}
/* 轮播图 */
#banner {
  width: 960px;
  height: 350px;
  margin: 20px auto;
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#banner ul li img {
  width: 960px;
  height: 350px;
  border-radius: 5px;
}
#banner .item {
  position: absolute;
  top: 0;
  display: none;
  opacity: 1;
  animation-timing-function: linear;
}
#banner .item:first-child {
  display: block;
  opacity: 1;
}

.arrow #leftArrow,
.arrow #rightArrow {
  width: 40px;
  height: 69px;
  position: absolute;
  top: 195px;
}

.arrow #leftArrow {
  left: 100px;
  background-image: url("./images/left-slides.png");
  background-position: -83px 0;
  background-repeat: no-repeat;
}

.arrow #rightArrow {
  right: 100px;
  background-image: url("./images/right-slides.png");
  background-position: -126px 0;
  background-repeat: no-repeat;
}

.zeroPoint {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.zeroPoint li {
  width: 5px;
  height: 5px;
  border: 2px solid #555;
  background: #555;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.zeroPoint li:hover {
  background: #fff;
}

.zeroPoint li.hover {
  background: #fff;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* content */
.content {
  overflow: auto;
}
.left-content {
  width: 605px;
  margin-bottom: 10px;
  padding: 0 20px 20px 20px;
}
/* topline */
.left-content .topLine {
  color: #bebdbd;
  overflow: auto;
  font-size: 12px;
}
.left-content .topLine .top-title {
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topLine a {
  text-decoration: none;
  color: #667ebd;
}
.topLine .top-title a {
  width: 300px;
  height: 175px;
  color: #434a54;
}
.topLine .top-title a:hover {
  color: #ff6600;
}
.topLine .top-detail {
  float: right;
  width: 288px;
  line-height: 16px;
  margin-top: -175px;
  overflow: auto;
}
.topLine .top-detail p {
  margin-top: 25px;
  color: #706f6f;
  font-size: 14px;
  line-height: 24px;
}
.left-content .hot-top-Line {
  width: 620px;
  margin-top: 25px;
  color: #bebebe;
  overflow: auto;
  margin-left: -15px;
  padding-bottom: 30px;
  background: url("../images/newsLine.gif") center bottom no-repeat;
}
.left-content .hot-top-Line li {
  float: left;
  width: 145px;
  margin-left: 10px;
}
.left-content .hot-top-Line li h3 {
  height: 44px;
  line-height: 22px;
  margin-top: 5px;
  overflow: hidden;
}
.left-content .hot-top-Line li h3 a {
  text-decoration: none;
  color: #434a54;
  font-size: 14px;
}
.left-content .hot-top-Line li span {
  display: inline-block;
  line-height: 18px;
  font-size: 12px;
  white-space: normal;
  height: 18px;
  color: #aab2bd;
}

/* news */
.left-content .news {
  color: #bebebe;
  font-size: 12px;
  margin-left: -40px;
}
.left-content .news li {
  padding-top: 0;
  padding-left: 40px;
  padding-bottom: 30px;
  background: url("../images/newsLine.gif") no-repeat center bottom;
}
.left-content .news .title {
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.left-content .news .title a {
  text-decoration: none;
  color: #434a54;
}
.left-content .news p {
  margin-top: 15px;
  line-height: 24px;
  color: #706f6f;
  font-size: 14px;
}
.left-content .news p a {
  margin-left: 15px;
  font-size: 12px;
}
.left-content .news .fever a {
  text-decoration: none;
  color: #667ebd;
}
.left-content .news .fever {
  height: 18px;
  line-height: 18px;
  padding-bottom: 5px;
  color: #aab2bd;
}

/* 翻页 */
.left-content .pages {
  margin-top: 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  overflow: auto;
  text-align: center;
}
.left-content .pages span,
.pages a {
  background: #ff6f3d;
  color: #fff;
  display: inline-block;
  width: 28px;
  height: 30px;
  line-height: 30px;
  margin-left: -1px;
  border: 1px solid #e6e9ed;
}
.left-content .pages a {
  background: #fff;
  color: #656d78;
  text-decoration: none;
}
.left-content .pages .next {
  width: auto;
}

/* right-content */
.right-content-hot {
  width: 260px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 20px;
  background: #fff;
  position: relative;
}
.right-content-hot .title {
  width: 302px;
  position: absolute;

  left: 0;
  top: 0;
}

/* 同城会 */
.main .city {
  background: #fff;
  margin-bottom: 10px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #f9f9f9;
}
.main .city .title {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.main .city .citys {
  padding: 8px 0;
  overflow: auto;
  background: #fff;
}
.main .city .citys a {
  text-decoration: none;
  float: left;
  width: 50px;
  height: 26px;
  line-height: 26px;
  margin-left: 53px;
  color: #878787;
  font-size: 12px;
}

/* 友情链接 */
.main .links {
  background: #fff;
  margin-bottom: 10px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #f9f9f9;
}
.main .links .title {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.main .links .toplink {
  overflow: auto;
  margin-right: 10px;
  background: #fff;
}
.main .links .toplink img {
  margin: 15px 10px 0;
}
.main .links .toplink a {
  float: left;
  text-decoration: none;
}
.main .links .link {
  margin: 0 10px 10px 0px;

  overflow: hidden;
  background: #fff;
}
.main .links .link a {
  color: #878787;
  font-size: 12px;
  height: 14px;
  line-height: 28px;
  margin: -1px;
  padding: 0 9px;
  border-left: 1px solid #878787;
  white-space: nowrap;
  text-decoration: none;
}

/* 此处会出现两个浮动元素的1像素空隙问题 */
.right-content-hot .content-hot {
  width: 300px;
  margin-left: -20px;
  position: relative;
  height: 40px;
  line-height: 40px;
}
.right-content-hot .title .palte {
  float: left;
  width: 150px;
  text-align: center;
  border-left: 1px solid #e8e8e8;
  color: #464a54;
  font-weight: bold;
}
.right-content-hot .title .baibaobox {
  float: left;
  width: 150px;

  text-align: center;
  border-left: 1px solid #e8e8e8;
}
.right-content-hot .title .actives {
  height: 37px;
  line-height: 32px;
  border-top: 4px solid #ccd1d9;
  background: #fff;
}

/* 下方的模块 */
.tab-content ul {
  margin: 0;
  padding: 0;
  width: 302px;
  margin-left: -20px;
  overflow: auto;
}

.tab-content li {
  float: left;
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  background: #ffffff;
  text-align: center;
}
.tab-content .more {
  width: 300px;
}
.tab-content li a {
  text-decoration: none;
  color: red;
}
.tab-content li a:hover {
  color: #ff6f3d;
  font-weight: bold;
}

/* 签到 */
.mibbs-sign {
  width: 300px;
  height: 50px;
  margin: 10px 0px;
  position: relative;
}
.mibbs-sign .mibbs-sign-left {
  position: relative;

  width: 150px;
  height: 50px;
  background: url("../images/calendar.png") no-repeat;
  background-color: #ff6f3d;
  background-position: 14px 8px;
  cursor: pointer;
}
.mibbs-sign .mibbs-sign-left .sign {
  position: absolute;
  color: #fff;
  width: 55px;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  top: 10px;
  left: 55px;
}
.mibbs-sign .mibbs-sign-right {
  background-color: #fff;
  width: 148px;
  height: 46px;
  border: 2px solid #ff6f3d;
  border-left: 0;
}

.mibbs-sign .sign-photo {
  width: 259px;
  height: 106px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: -146px;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 13px 20px;
}
.mibbs-sign .sign-photo img {
  width: 106px;
  height: 106px;
  float: left;
}
.mibbs-sign .sign-photo div {
  margin-left: 120px;
}
.mibbs-sign .sign-photo h5 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  margin-top: 24px;
  color: #303030;
  font-weight: normal;
}
.mibbs-sign .sign-photo span {
  font-size: 15px;
  color: #999;
  display: block;
  max-resolution: 5px;
}
/* 画三角 */
.mibbs-sign .sign-photo .angleA {
  width: 0;
  position: absolute;
  bottom: -24px;
  left: -68px;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent;
  border-style: solid;
  border-width: 12px;
}
.mibbs-sign .sign-photo .angleB {
  width: 0;
  position: absolute;
  bottom: -20px;
  left: -65px;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 10px;
}
.mibbs-sign .mibbs-sign-right .up-people {
  border-bottom: 1px solid #eee;
  height: 23px;
  line-height: 26px;
  padding-left: 30px;
  background: url("../images/sign.jpg") no-repeat;
  background-position: 5px 0;
  margin-bottom: 0;
  color: #606060;
  font-size: 14px;
}
.mibbs-sign .mibbs-sign-right .sing-rang {
  height: 22px;
  line-height: 22px;
  padding-left: 30px;
  width: 60px;
  background: url("../images/sign.jpg") no-repeat;
  background-position: 5px -25px;
  color: #606060;
  font-size: 12px;
}

/* 今日推荐 */
.recommention {
  width: 260px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.recommention .recommention-title {
  width: 300px;
  margin-left: -20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #fcfcfc;
}
.recommention .recommention-title div {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.recommention .recommention-title a {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 12px;
  color: #667ebd;
}
.recommention ul {
  line-height: 24px;
  margin: 0 0 0 24px;
  padding: 10px;
}
.recommention ul li {
  padding: 4px 0 5px;
}
.recommention ul li em {
  border: 2px solid #ff6f3d;
  color: #ff6600;
  float: left;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin: 3px 0 0 -24px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}
.recommention ul li a {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 14px;
}

/* 热门活动 */
.hot-active {
  width: 260px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.hot-active .hot-active-title {
  width: 300px;
  margin-left: -20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #fcfcfc;
}
.hot-active .hot-active-title div {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.hot-active .hot-active-title a {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 12px;
  color: #667ebd;
}
.hot-active img {
  margin: 20px auto;
}

/* 小米ROM */
.rom {
  width: 260px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.rom .rom-title {
  width: 300px;
  margin-left: -20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #fcfcfc;
}
.rom .rom-title div {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.rom .rom-title a {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 12px;
  color: #667ebd;
}

.rom .rom-content-up {
  text-align: center;
  margin: 5px 0;
}
.rom .rom-content-up div {
  color: #ff5a00;
}
.rom .rom-content-up .content {
  font-size: 45px;
  font-weight: bold;
  margin: 15px 0 5px;
  text-align: center;
}

.rom .rom-content-up .edition {
  color: #ff4800;
  margin: 5px 0;
}
.rom .rom-content-up a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin: 10px 0;
  border-radius: 3px;
  color: #fff;
  background: #ff4800;
  width: 100%;
  text-align: center;
}

.rom .rom-content-down {
  line-height: 24px;
  padding: 0 0 10px 0;
  font-size: 12px;
  text-align: center;
}
.rom .rom-content-down a {
  text-decoration: none;
  color: #6f6f6f;
  border-right: 1px solid #666;
  padding-right: 2px;
}
.rom .rom-content-down a:first-child {
  display: block;
  border-right: 0;
}
.rom .rom-content-down a:last-child {
  border-right: 0;
}

/* 摄影馆 */
.film {
  width: 260px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.film .film-title {
  width: 300px;
  margin-left: -20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #fcfcfc;
}
.film .film-title div {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.film .film-title a {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 12px;
  color: #667ebd;
}

.film a {
  position: relative;
}
.film a span {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: -32px;
  border-radius: 0 0 5px 5px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.film .toggle {
  padding-bottom: 20px;
  text-align: center;
}
.film .toggle a {
  background: #ff6f3d;
  cursor: default;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  width: 12px;
  margin: 0 3px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
}

/* 玩机 */
.play {
  width: 260px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.play .play-title {
  width: 300px;
  margin-left: -20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  background: #fcfcfc;
}
.play .play-title div {
  width: 122px;
  margin-left: 15px;
  color: #434a54;
  font-weight: bold;
}
.play .play-title a {
  text-decoration: none;
  margin: 0 20px 0 0;
  font-size: 12px;
  color: #667ebd;
}
.play ul {
}
.play ul li {
  position: relative;
  height: 76px;
  margin-top: 10px;
}
.play ul a {
  display: block;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 80px;
}
.play ul img {
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 12px;
}
.play ul p {
  margin-left: 80px;
  line-height: 20px;
  color: #878787;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 尾部 */
.footers {
  width: 960px;
  margin: 0 auto;
  background: #fff;
}
.footers .footer {
  border: 1px solid #e6e9ed;
  background: #fff;
}
.footers .footer .footeritem {
  height: 92px;
  margin: 5px;
  border: 1px solid #f4f5f9;
  border: #eef1f5;
  background: #eef1f5;
}
.footers .footer .footeritem .logo {
  width: 218px;
  height: 69px;
  margin: 9px 0 0 23px;
}
.footers .footer .footeritem .logo a {
  text-decoration: none;
}
.footers .footer .footeritem .links {
  height: 18px;
  line-height: 18px;
  margin: 36px 0 0 28px;
}
.footers .footer .footeritem .links span {
  display: inline-block;
  width: 70px;
  font-weight: bold;
  color: #6f6f6f;
  font-size: 14px;
}
.footers .footer .footeritem .links a {
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  vertical-align: middle;
  text-decoration: none;
  color: #6f6f6f;
  border-right: 1px solid #878787;
  padding-right: 2px;
}
.footers .footer .footeritem .links a:last-child {
  border-right: none;
}
.footers .footer .footeritem .slogan {
  margin: 28px 5px 0 0;
}
/* icp */
.footers .footer .icp {
  height: 56px;
  line-height: 56px;
  background: #f1f2f6;
  color: #aab2bd;
  font-size: 12px;
  text-align: center;
}
.footers .footer .icp span {
  margin-right: 2px;
}
.footers .footer .icp a {
  text-decoration: none;
  color: #6f6f6f;
}
.footers .footer .icp a:hover {
  color: #ff6600;
}
