*{
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	min-width: 1226px;
}
.container{
	width: 1226px;
	min-width:1226px;
	margin: 0 auto;
}
.top{
	width: 100%;
	height:40px ;
	background: #313131;
}
.top-left{
	float: left;
	line-height: 40px;
	margin-left: 55px;
}
.top-left{
	height: 40px;
}
.top a{
	text-decoration:none;
	color: #fff;
	font-size: 12px;
}
.top a:hover{
	color: #ddd;
}
.top-left span{
	color: #ddd;
	margin: 0px 6px 0px 6px;
}
.top-right{
	float: right;
	line-height: 40px;
	margin-right: 55px;
}
.top-right span{
	color: #ddd;
}

.nav{
	width: 100%;
	height: 100px;
}
.nav img{
	float: left;
	margin-left: 55px;
	margin-top: 22.5px;
}
.nav-right li{
	font-size: 18px;
	list-style: none;
	float: left;
	padding: 0px 23px;
}
.nav-right a{
	color: #000;
	text-decoration: none;
}
.nav-right{
	float: right;
	line-height: 100px;
	position: relative;
	left: 90px;
}
.nav-right a:hover{
	color: #f84330;
}
/*position使脱离文档流，不占原有空间，可调整位置*/
.nav-right .hidden-menu{
	width: 150px;
	border: 1px solid #E5E5E5;
	padding: 10px 0px;
	background: #FFFFFF;
	border-radius: 2px;
	z-index: 999;
	position: absolute;
	left: 51px;
	top: 77px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
	display: none;
}
/*同级选择器，所以用加号选择*/
.nav-right .money:hover .hidden-menu{
	display: block;
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.hidden-menu a:hover{
	background: #F7F7FB;
	width: 100%;
}
.hidden-menu li{
	float: none;
	height: 40px;
	padding: 0;
}


.hidden-menu a{
	display: block;
	font-size: 16px;
	color: #434343;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.banner{
	width: 100%;
	height: 640px;
	background: url(../images/finance-banner.jpg);
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
}
.indext-banner .slogan{
	font-size: 54px;
	color: #FFFFFF;
	font-weight: 300;
	text-align: center;
	padding-top: 193px;
}
.indext-banner .btn-wrap{
	width: 258px;
	height: auto;
	color: #fff;
	background-color: #F93F2B;
	padding: 18px 30px;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 400px;
	border-radius: 4px;
	text-align: center;
	display: block;
	margin-top: 36px;
	position: relative;
	left: 425px;
}
.content{
	background: #FFFFFF;
	width: 1138px;
	height: 420px;
	margin-top: -80px;
	margin-bottom: 50px;
	padding: 30px 30px 0px 30px;
	border: 1px solid #E6E6E6;
}
.link-list li{
	list-style: none;
	float: left;
	width: 33.33%;
	height: 420px;
}
.link-list .orange .avtar{
	width: 300px;
	height: 120px;
	background-size: cover;
	background-position: center center;
	background-image: url(../images/finance-content-orange.png);
	background-repeat: no-repeat;
	padding: 30px; 
	margin-right: 19.281px;
	overflow: hidden;
}
.link-list .avtar .t{
	padding-top: 18px;
	font-size: 33px;
	color: #FFFFFF;
	line-height: 33px;
}
.link-list .avtar .d{
	padding-top: 16px;
	font-size: 33px;
	color: #FFFFFF;
	line-height: 33px;
}
.link-list .dec-list{
	margin-right: 19.281px;
	padding: 10px 30px 10px 30px;
}
.link-list .dec-list p{
	font-size: 16px;
	color: #666666;
	line-height: 16px;
}
.link-list .orange .dec-list .item span{
	color: #EA5600;
}
.link-list .dec-list .item{
	margin-top:20px;
} 
.dec-list .link-more{
	margin: 40px 0px 10px;
	width: 300px;
	border-top: 1px solid #ECECEC;
	height: 62px;
	text-align: center;
}
.link-more span{
	line-height: 62px;
	color: #FD3911;
	font-size: 16px;
	font-weight: lighter;
}
.link-more span:after{
	content: '';
	width: 16px;
	height: 16px;
	background-image: url(../images/icn-right.png);
	display: inline-block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; 
	top: 2px;
	right: -3px;
	position: relative;
}
.link-list .blue .avtar{
	width: 300px;
	height: 120px;
	background-size: cover;
	background-position: center center;
	background-image: url(../images/finance-content-blue.png);
	background-repeat: no-repeat;
	padding: 30px; 
	margin-right: 19.281px;
	overflow: hidden;
}
.link-list .blue .dec-list .item span{
	color: #4481C8;
}
.link-list .green .avtar{
	width: 300px;
	height: 120px;
	background-size: cover;
	background-position: center center;
	background-image: url(../images/finance-content-green.png);
	background-repeat: no-repeat;
	padding: 30px; 
	margin-right: 19.281px;
	overflow: hidden;
}
.link-list .green .dec-list .item span{
	color: #0DB27B;
}
.footer-left{
	float: left;
	width: auto;
	padding: 57px 0px 0px 0px;
}
.footer-left img{
	float: left;
}
.footer-left .links {
	margin-left:63px;
	padding: 3px 0px 0px;
}
.footer-left .links a{
	font-size: 14px;
	color: #575757;
	text-decoration: none;
	padding: 0px 8px;
	
}
.footer-left .link-center{
	border-left:1px solid #575757 ;
	border-right:1px solid #575757 ;
}
.footer-left .links-copyright span{
	font-size: 12px;
	color: #575757;
	padding: 0px 8px;
	height: 14px;
	padding: 0px 8px;
}
.footer-left .links-copyright{
	margin-left: 63px;
}

.footer-right{
	float: right;
	padding-top: 42px;
}
.footer-right .call{
	font-size: 14px;
	color: #575757;
	line-height: 20px;
}
.footer-right{
	color: #E84519;
	font-size: 26px;
	line-height: 37px;
	font-weight: 400;
	margin-right: 40px;
}
.footer-right p{
	font-size: 12px;
	color: #575757;
	line-height: 17px;
}
