*{
	margin: 0;
	padding: 0;
}
.container {
  width: 1226px;
  min-width: 1226px;
  margin: 0 auto;
}

.page{
	width: 100%;
	height: auto;
}

.container{
	width: 1230px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
.zuobiao{
	width: 55px;
	height: 55px;
    position:absolute;
	float: left;
	cursor: pointer;
	margin-left 15px;
	
}
.youbiao{
	width: 67px;
	height: 50px;
	margin-left: 100px;
	float: left;
	cursor: pointer;
	
	
}
.nav{
	font-size: 16px;
	list-style-type: none;
}
li {
	list-style: none;
	float: left;
	margin-top: 25px;
	margin-left: 50px;
}
.text{
	width: 773.38px;
	height: 100px;
	margin-left: -30px;
	cursor: pointer;
}
#search{
		position: absolute;
		padding-left: 10px;
    width: 240px;
    height: 50px;
    float: right;
    margin-top: 5px;
    margin-left: 75px;
}
.btuu{
	position: relative;
    top: 4px;
    left: 276px;
    z-index: 2;
    width: 52px;
    height: 54px;
    font-size: 24px;
		line-height: 24px;
		border: 0;
    color: #616161;
    outline: 0;
		cursor: pointer;
		border-left: 1px solid #e0e0e0;
		background: url('../images/search.png') no-repeat;
		background-size: 25px;
		background-position: center;
	}
.btuu:hover {
	background: #ff6700 url('../images/search_hover.png') no-repeat;
	background-size: 25px;
	background-position: center;
}
.slide-loaded{
    cursor: pointer;
    width: 1280px;
    height: 460px;
    margin: 0 auto;
}
.touming{
	width: 300px;
	height: 460px;
	position: relative;
	margin-right:  10px;
	margin-top: -484px;
	float: right;
	
}
.top{
	height: 27%;
	background-color: rgba(23,18,21,0.66);
	margin-left 100px;
}
.face{
	width: 48px;
	height: 48px;
	position: relative;
	margin-top: 20px;
	margin-left: 55px;
}
.wefont{
	width: 120px;
	margin-top: -12px;
	margin-left:122px;
	
}

.profile h1{
	width:120px;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
	color: white;
	color: white;
	cursor: pointer;
	
}
.info{
	width: 50px;
	position: relative;
	text-decoration: none;
	color: white;
	font-size: 12px;
	cursor: pointer;
	margin-left: 122px;
}
.down h2{
	text-align: center;
	font-size: 16px;
	padding-top: 30px;
	color: white;
	
}
.down .img1{
	background: url(../images/xiaobiao.png) 0px center no-repeat;
	float: left;
	display: block;
	width: 23px;
	height: 25px;
	margin-top: 7px;
	margin-left: 10px;
}
.down .img2{
	background: url(../images/xiaobiao.png) -23px center no-repeat;
	float: left;
	display: block;
	width: 23px;
	height: 25px;
	margin-top: 0px;
	margin-left: 10px;
}
.down .img3{
	background: url(../images/xiaobiao.png) -46px center no-repeat;
	float: left;
	display: block;
	width: 23px;
	height: 25px;
	margin-top: 0px;
	margin-left: 12px;
}
.down .img4{
	background: url(../images/xiaobiao.png) -69px center no-repeat;
	float: left;
	display: block;
	width: 23px;
	height: 25px;
	margin-top: 0px;
	margin-left: 12px;
}
.word1{
	font-size: 14px;
	margin-top: 0px;
	margin-left: 50px;
	width: 237px;
	height: 37px;
}
.word2{
	font-size: 14px;
	margin-top: -5px;
	margin-left: 50px;
	width: 237px;
	height: 37px;
}
.word3{
	font-size: 14px;
	margin-top: -5px;
	margin-left: 50px;
	width: 237px;
	height: 37px;
}
.word4{
	font-size: 14px;
	margin-top: -5px;
	margin-left: 50px;
	width: 237px;
	height: 37px;
}

}
.down ul{
	height: auto;
	margin: 20px 0 0 60px;
	list-style: none;
}
li{
	text-align: -webkit-match-parent;
	display: list-item;
	
	
}
.tit{
	padding: 0 0 0 0;
}
.buttom{
	height: 335px;
	background: rgba(23,18,21,0.86);
	opacity: 0.8;
}
.tit{
	font-weight: 1000;
	color: white;
}
.fif{
	color: white;
}
.fif{
	
}
.click{
	color: #fff;
	height: 40px;
	width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
}
.picture{
	height: 200px;
	width: auto;
}
.pic1{
	background:url(../images/xiaomi1.jpg);
	width: 295px;
	height: 170px;
	margin-left: 0px;
	margin-top:20px;
}
.pic2{
	background:url(../images/xiaomi2.jpg);
	width: 295px;
	height: 170px;
	margin-left: 310px;
	margin-top:-170px;
}
.pic3{
	background:url(../images/xiaomi3.jpg);
	width: 295px;
	height: 170px;
	margin-left: 620px;
	margin-top:-170px;
}
.pic4{
	background:url(../images/xiaomi4.png);
	width: 295px;
	height: 170px;
	margin-left: 930px;
	margin-top:-170px;
}
.pic1:hover,
.pic2:hover,
.pic3:hover,
.pic4:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.background2{
	background: #f5f5f5;
	width: 100%;
	height: 3050px;
	margin: 0 auto;
}
.context{
	width: 1226px;
	height: 440px;
	margin: 0 auto;
}
.context-title {
	margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    display: inline-block;
    cursor: pointer;
	
}
.title-right{
	float: right;
    font-size: 16px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
	padding-right: 50px;
	cursor: pointer;
	}
.title-right:hover{
	color: orange;
}
.title-right:hover .rightpic{
	background: orange;
}	
.context-shit {
	margin: 0 14px 14px 0;
	padding: 39px 0 40px ;
	width: 220px;
	display: inline-block;
	background: white;
	text-align: center;
	cursor: pointer;
	transition: all .3s linear;
}
.context-shit:hover {
	transform: translateY(-2px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.context-shit img{
	margin: 0 37px 22px;
	
	}
.title-font{
	font-size: 14px;
	color: #212121;
}
.title-font-two{
	font-size: 12px;
	color: #B0B0B0;
}
.rightpic{
	display: inline-block;
	text-align: center;
	font-weight: 600;
	width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 4px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
}
.textstep{
	height: 390px;
	background: #f5f5f5;
    text-align: center;
    padding-bottom: 25px;
}
.steptitle{
	background: #fff;
    padding-top: 50px;
    padding-bottom: 60px;
    width: 1155px;
    height: 272.2px;
		text-align: center;
}
.textstep h2{
	font-size: 34px;
	color:#424242;
}
.textstep p{
	font-size: 14px;
	color:#333333;
	padding: 20px 0 0 0;
}
.step{
	width: 758px;
	height: 104px;
	background: url(../images/step.jpg);
	margin: 56px auto 20px;
}
.img.img1{
	
	    background-position: 0px 0px;
}
.img.img2{
	
	    background-position: -82px 0px;
}
.img.img3{
	
	    background-position: -123px 0px;
}
.img.img4{
	
	    background-position: -164px 0px;
}
.img{
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -14px;
    background:url(../images/qiye_siteFooter_icon.png) no-repeat top left;
    width: 41px;
    height: 41px;
    display: inline-block;
}
.end{
	width: 1200px;
	margin: 0 auto ;
	}
.endtext li{
	list-style: none;
    width: 20%;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #e0e0e0;
    height: 41px;
    line-height: 41px;
    margin: 50px 0 30px;
		padding: 0 20px;
		cursor: pointer;
}
.endtext li a:hover {
	color: #ff6700;
}