/* 侧边工具栏样式 */

.index-tool-bar {
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 999;
}

.index-tool-bar a {
  display: block;
  margin-top: -1px;
  width: 82px;
  height: 90px;
  color: #757575;
  background: #fff;
  text-align: center;
  border: 1px solid #f5f5f5;
  transition: color 0.3s;
}
.index-tool-bar a:hover {
  color: #ff6700;
}
.index-tool-bar .back-top {
  visibility: hidden;
  margin-top: 15px;
}
.index-tool-bar p {
  margin-top: 10px;
}
.index-tool-bar i {
  font-size: 30px;
}

@media screen and (max-width: 1460px) {
  .index-tool-bar a {
    width: 40px;
    height: 42px;
  }
  .index-tool-bar i {
    font-size: 16px;
  }
  .index-tool-bar span {
    display: none;
  }
}

/* 轮播广告区域样式 */
.index-banner {
  position: relative;
  z-index: 1;
  height: 460px;
}
.index-banner #img-list li {
  position: absolute;
}
.index-banner a {
  display: block;
}
.index-banner img {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.index-banner #count {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.index-banner #count a {
  z-index: 10;
  display: block;
  float: left;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: 0.2s all;
}
.index-banner #count a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.index-banner #count a.current {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.index-banner .controls-direction a {
  padding: 10px 0;
  width: 40px;
  text-align: center;
}
.index-banner .controls-direction a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.index-banner .controls-direction a:hover i {
  color: #fff;
}
.index-banner .controls-direction a i {
  font-size: 36px;
  color: rgba(134, 133, 133, 0.1);
}

.index-banner .controls-direction #control-left {
  position: absolute;
  top: 50%;
  left: 235px;
  margin-top: -37px;
}

.index-banner .controls-direction #control-right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -37px;
}

/* 子菜单区域 */
.index-sub {
  margin-top: 15px;
  margin-bottom: 26px;
}

.index-sub .span1 {
  float: left;
  margin-left: 1px;
  width: 234px;
}
.index-sub .span1 ul {
  padding: 3px;
  background-color: #5f5750;
  text-align: center;
}
.index-sub .span1 ul li {
  float: left;
  padding: 0 3px;
  width: 70px;
  height: 82px;
}
.index-sub .span1 ul li a {
  display: block;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  transition: all 0.4s;
}
.index-sub .span1 ul li a:hover {
  color: #fff;
}
.index-sub .span1 a i {
  display: block;
  font-size: 24px;
}

.index-sub .span2 {
  width: 978px;
  float: left;
  margin-left: 13px;
}

.index-sub .span2 li {
  float: left;
  width: 316px;
  height: 170px;
  transition: 0.2s all linear;
}
.index-sub .span2 li:hover {
  z-index: 2;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.index-sub .span2 li img {
  display: block;
  width: 100%;
  height: 100%;
}
.index-sub .span2 li:nth-child(2) {
  margin: 0 15px;
}

.index-sub .span2 a {
  display: block;
}

/* 页面主体样式 */
.index-main {
  padding-bottom: 25px;
  width: 100%;
  background-color: #f5f5f5;
}
.index-main .index-main-banner {
  margin: 22px 0;
}
.index-main .a-banner {
  display: block;
}
.index-main .a-banner img {
  display: block;
}

.index-main .box-title {
  position: relative;
  height: 58px;
}
.index-main .box-title .control-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.index-main .box-title .type-link {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 58px;
  line-height: 58px;
}
.index-main .box-title .type-link a {
  display: block;
  float: right;
  height: 58px;
  font-size: 16px;
  color: #424242;
  line-height: 58px;
  transition: 0.4s all;
}
.index-main .box-title .type-link a i {
  float: right;
  margin-left: 10px;
  font-size: 24px;
  color: #b0b0b0;
  transition: 0.4s all;
}
.index-main .box-title .type-link a:hover {
  color: #ff6700;
}
.index-main .box-title .type-link a:hover .icon-right1 {
  color: #ff6700;
}
.index-main .box-title .type-link ul {
  margin-top: 14px;
}
.index-main .box-title .type-link li {
  float: left;
  margin-left: 25px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.4s border;
}
.index-main .box-title .type-link li.current {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

.product ul.is-show {
  display: block;
}
.product .brick-list {
  display: none;
}

.index-main .box-title .control-btn a {
  display: inline-block;
  padding: 3px 5px;
  margin-left: -4px;
  width: 24px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #e0e0e0;
  color: #b0b0b0;
  transition: color 0.5s;
}
.index-main .box-title .control-btn a i {
  font-size: 12px;
  font-weight: bold;
}
.index-main .box-title .control-btn a:hover {
  color: #ff6700;
}
.index-main .box-title h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}
.index-main .box-title h2 a {
  color: #333;
  transition: 0.3s color;
}
.index-main .box-title h2 a:hover {
  color: #ff6700;
}
.index-main .item {
  width: 234px;
  height: 300px;
  padding-top: 39px;
}
.index-main .flashsale {
  float: left;
  border-top: 1px solid #e53935;
  text-align: center;
  background-color: #f1eded;
}
.index-main .flashsale .time {
  padding-top: 15px;
  font-size: 21px;
  color: #ef3a3b;
}
.index-main .flashsale img {
  margin: 25px 0;
}
.index-main .count-text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.45);
}
.index-main .count-down {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.index-main .flashsale span {
  display: block;
  float: left;
  width: 46px;
  height: 46px;
  background-color: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
}
.index-main .flashsale i {
  display: block;
  float: left;
  line-height: 46px;
  width: 15px;
  font-size: 28px;
  font-style: normal;
}

.index-main .product-list {
  position: relative;
  float: left;
  margin-left: 14px;
  width: 978px;
  overflow: hidden;
}
.index-main .product-list ul {
  position: absolute;
  left: 0;
  top: 0;
  height: 340px;
  transition: all 1s ease;
}
.index-main .product-list li {
  float: left;
  margin-right: 14px;
  background-color: #fff;
}
.index-main .product-list li:last-child {
  margin-right: 0;
}
.index-main .product-list a {
  display: block;
}

.index-main .product-list .item-border-1 {
  border-top: 1px solid #ffac13;
}
.index-main .product-list .item-border-2 {
  border-top: 1px solid #83c44e;
}
.index-main .product-list .item-border-3 {
  border-top: 1px solid #2196f3;
}
.index-main .product-list .item-border-4 {
  border-top: 1px solid #e53935;
}
.index-main .product-list .item-border-5 {
  border-top: 1px solid #00c0a5;
}

.index-main .list {
  height: 340px;
}
.index-main .product-list .item {
  text-align: center;
}
.product-list .item .title {
  padding: 0 20px;
  margin: 22px 0 3px;
  font-size: 14px;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-list .item .des {
  height: 18px;
  margin-bottom: 12px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
}
.product-list .item .price {
  color: #ff6700;
}
.product-list .item .price s {
  margin-left: 5px;
  color: #b0b0b0;
}

.index-main .product-list .item img {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

/* 可复用区域样式 */
.row img,
.row a {
  display: block;
}

.row .brick-list img {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

.row .left-col,
.row .right-col {
  float: left;
}

.row li {
  float: left;
  transition: all 0.2s linear;
}
.row li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.row .brick-list {
  float: left;
  width: 992px;
}
.row .brick-list li {
  padding: 20px 0;
  margin-left: 14px;
  margin-bottom: 14px;
  height: 260px;
  width: 234px;
  background-color: #fff;
  text-align: center;
}
.row .brick-list p {
  padding: 0 10px;
}
.row .brick-list .title {
  margin: 18px 0 2px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.row .brick-list .brick-small-left .title {
  margin: 18px 0 2px;
  color: #333;
  white-space: normal;
}

.row .brick-list .desc {
  margin-bottom: 10px;
  font-size: 12px;
  color: #b0b0b0;
}
.row .brick-list .price {
  color: #ff6700;
}
.row .brick-list .price s {
  margin-left: 0.5em;
  color: #b0b0b0;
}

.row .left-col .brick-list-small {
  width: 234px;
}
.row .left-col .brick-list-small li {
  margin-bottom: 14px;
}
.row .left-col .brick-list-small img {
  height: 300px;
}

.row .right-col .brick-small {
  height: 103px;
  text-align: left;
}
.row .right-col .brick-small img {
  margin: 15px 10px 0 0;
  width: 80px;
  height: 80px;
}
.row .brick-small-left {
  float: left;
  margin: 10px 0 0 20px;
  width: 120px;
}
.row .brick-small-right {
  float: right;
}
.row .right-col .brick-small .more {
  float: left;
  margin: 28px 0 0 20px;
  color: #333;
  font-size: 18px;
}
.row .right-col .brick-small .more span {
  padding: 0 10px;
  font-size: 12px;
  color: #757575;
}
.row .right-col .brick-small .icon {
  float: right;
  margin: 10px 30px 0 0;
}
.row .right-col .brick-small .icon i {
  font-size: 54px;
  color: #ff6700;
}

/* 视频区域样式 */
.index-main .video-box {
  display: flex;
  height: 285px;
}

.index-main .video-box .video-item {
  position: relative;
  flex: 1;
  display: block;
  margin-right: 14px;
  background-color: #fff;
  transition: all 0.2s linear;
  text-align: center;
  color: #333;
}
.index-main .video-box .video-item:last-child {
  margin-right: 0;
}
.index-main .video-box .video-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.index-main .video-box .video-item p {
  margin: 20px 0 5px 0;
}
.index-main .video-box .video-item span {
  color: #b0b0b0;
  font-size: 12px;
}
.index-main .video-box .video-item i {
  position: absolute;
  top: 130px;
  left: 20px;
  color: #fff;
  font-size: 30px;
  transition: color 0.3s linear;
}
.index-main .video-box .video-item i:hover {
  color: #ff6700;
}
