*{
	padding: 0;
	margin: 0;
    box-sizing: inherit;	
}
a {
    text-decoration: none;
}
.page{
	width: 100%;
	height: auto;
}
.head{
    width: 100%;
	height: 104px;    
    background-color: #1a1c2f;
    color: #adadad;
    font-size: 15px;
}
.head .container{
	width: 1200px;
	height: 100%;
    margin: 0 auto;
}
.head .container .left-container{
	width: 704px;
	height: 100%;
	float: left;
}
.head .container .right-container{
	width: 400px;
	height: 100%;
	float: right;
	font-size: 15px;
	text-align: center;
	line-height: 104px;
	color: #ADADAD;
}
.head .container .right-container .active{
	color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.headF{
	width: 100%;
	height: 528px;
    background-color: #191b1d;
}
.headfigure{
	width: 1220px;
	position: relative;
    height: 528px;
    background-color: #F0F0F0;
    float: left;
    margin-left: 150px;
}
.text4Figure{
	position: absolute;
    top: 84px;
    left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
}
.text4Figure .title{
	font-size: 29px;
    color: #47b180;
    margin-bottom: 20px;
    font-weight: 700;
    border: 0;
}
.text4Figure .slogan{
	font-size: 19px;
    color: #7b7b7b;
    text-align: left;
    margin-bottom: 30px;
}
.linkSolutionContainer{
	color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}
.linkSolutionContainer .linkSolution {
    width: 1220px;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -610px;
}
.paraTitle {
    padding-top: 38px;
    padding-left: 18px;
}
.paraTitle .cn {
    font-size: 20px;
    color: #4d4d4d;
}
.paraTitle .en {
    font-size: 15px;
    color: #999;
    margin-left: 15px;
}
.linkSolutionContainer .linkSolution .IPEquip {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    font-size: 21px;
    color: #4c4c4c;
}
.linkSolutionContainer .linkSolution .IPEquip .wifi {
    margin-top: 22px;
    width: 124px;
    height: 124px;
}
.linkSolutionContainer .linkSolution .IPEquip .linkLine {
    margin-top: 16px;
    width: 8px;
    height: 38px;
}
.linkSolutionContainer .waveContainer {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 166px;
    overflow: hidden;
}
.linkSolutionContainer .waveContainer .wave {
    position: absolute;
    left: 50%;
    margin-left: -1500px;
    width: 3000px;
    height: 166px;
    background-image: url(../img/7.jpg);
    background-repeat: repeat-x;
    background-position: 300px 0;   
}
.linkSolutionContainer .linkSolution .connectWay {
    position: relative;
    z-index: 10;
}
.linkSolutionContainer .linkSolution .connectWay .light {
    position: absolute;
    top: 25px;
    left: 0;
}
.smallPic {
    width: 50px;
} 
.smallPic img {
    border-radius: 50%;
}
img {
    max-width: 100%;
}
.linkSolutionContainer .linkSolution .connectWay .wifiModel {
    position: absolute;
    top: -10px;
    left: 130px;
}
.bigPic {
    width: 104px;
}
.text-center {
    text-align: centers;
}
.linkSolutionContainer .linkSolution .connectWay .socket {
    position: absolute;
    top: 68px;
    left: 286px;
}
.smallPic {
    width: 50px;
}   
.linkSolutionContainer .linkSolution .connectWay .linux {
    position: absolute;
    top: 30px;
    left: 396px;
}
.bigPic {
    width: 104px;
}
.text-center {
    text-align: center;
} 
.linkSolutionContainer .linkSolution .connectWay .camera {
    position: absolute;
    top: 18px;
    left: 586px;
}
.smallPic {
    width: 50px;
}
.linkSolutionContainer .linkSolution .connectWay .android {
    position: absolute;
    top: 30px;
    right: 396px;
}
.bigPic {
    width: 104px;
}
.linkSolutionContainer .linkSolution .connectWay .connectBox {
    position: absolute;
    top: 68px;
    right: 286px;
}
.smallPic {
    width: 50px;
}
.linkSolutionContainer .linkSolution .connectWay .protocolconnection {
    position: absolute;
    top: -10px;
    right: 130px;
}
.bigPic {
    width: 104px;
}
.text-center {
    text-align: center;
}
.linkSolutionContainer .linkSolution .connectWay .route {
    position: absolute;
    top: 25px;
    right: 0;
}
.smallPic {
    width: 50px;
}
.linkSolutionContainer .BLE_equip {
    padding-top: 100px;
    height: 380px;
    background-color: #e6f9ff;
    text-align: center;
}
.linkSolutionContainer .BLE_equip .BLETitle {
    font-size: 21px;
    color: #4c4c4c;
    margin-bottom: 28px;
}
.linkSolutionContainer .BLE_equip .BLEList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.linkSolutionContainer .BLE_equip .BLEList .BLEItem {
    width: 104px;
    height: 104px;
}
.linkSolutionContainer .BLE_equip .BLEList .link {
    width: 38px;
    height: 8px;
    margin: 0 16px;
}
img {
    max-width: 100%;
}
.linkSolutionContainer .BLE_equip .BLEList .link {
    width: 38px;
    height: 8px;
    margin: 0 16px;
}
.linkSolutionContainer .BLE_equip .BLEList .BLEItem {
    width: 104px;
    height: 104px;
}
img {
    max-width: 100%;
}
.linkSolutionContainer .BLE_equip .BLEList .BLEItem p {
    padding: 5px 0 0;
    width: 101%;
    font-size: 16px;
    line-height: 32px;
}
.linkProcesses {
    height: 496px;
    border-top:2px solid gainsboro;
}
.infoSection {
    width: 1220px;
    margin: 0 auto;
}
.paraTitle {
    padding-top: 38px;
    padding-left: 18px;
}
.infoSectionList {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.infoSectionItem {
    font-size: 16px;
    color: #4c4c4c;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    transition: all .3s linear;
}
.infoSectionItem:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px #9e9a98;
}

.text-center {
    text-align: center;
}
.infoSectionPic {
    width: 124px;
    height: 124px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}
.linkPic {
    width: 52px;
    height: 4px;
    margin: 0 20px;
}

span {
    font-style: inherit;
    font-weight: inherit;
}
.infoSectionItem {
    font-size: 16px;
    color: #4c4c4c;
    width: 124px;
    height: 124px;
}
.text-center {
    text-align: center;
}
.linkPic {
    width: 52px;
    height: 4px;
    margin: 0 20px;
}
.infoSectionItem {
    font-size: 16px;
    color: #4c4c4c;
    width: 124px;
    height: 124px;
}
.linkPic {
    width: 52px;
    height: 4px;
    margin: 0 20px;
}
.infoSectionItem {
    font-size: 16px;
    color: #4c4c4c;
    width: 124px;
    height: 124px;
}
.grayBg {
    background-color: #ededed;
}
.successfulCases {
    padding-bottom: 56px;
}
.infoSection {
    width: 1220px;
    margin: 0 auto;
}
.paraTitle {
    padding-top: 38px;
    padding-left: 18px;
}
.paraTitle .cn {
    font-size: 20px;
    color: #4d4d4d;
}
span {
    font-style: inherit;
    font-weight: inherit;
}
.paraTitle .en {
    font-size: 10px;
    color: #999;
    margin-left: 15px;
}
.successfulCases .caseList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
}
.successfulCases .caseList img {
    height: 432px;
    width: 305px;
}
img {
    max-width: 100%;
}
.infoSection {
    width: 1220px;
    margin: 0 auto;
}
.paraTitle {
    padding-top: 38px;
    padding-left: 18px;
}
.paraTitle .cn {
    font-size: 20px;
    color: #4d4d4d;
}
span {
    font-style: inherit;
    font-weight: inherit;
}
.paraTitle .en {
    font-size: 10px;
    color: #999;
    margin-left: 15px;
}
.Partners .partnerList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 74px;
}
.partnerListItem {
    width: 304px;
    height: 134px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    margin: -1px;
    transition: 0.6s;    
}
.partnerListItem:hover{
	position: relative;
	transform: translate(-2px -7px);
	box-shadow: 0px 0px 30px #ccc;
	cursor: pointer;
}
.text-center {
    text-align: center;
}
.Partners .partnerList .partnerListItem img {
    width: 183px;
    height: 50px;
    margin: 22px;
}
img {
    max-width: 100%;
}
.footer {
    width: 100%;
    height: 190px;
    background: #424242;
    color: #eee;
    text-align: center;
    padding: 0;
    font-size: 14px;
}
.footerInfo {
    padding-top: 78px;
}
.footer ul {
    display: inline-block;
    margin: 0 0 5px;
    padding: 0;
}
ul {
    list-style: none;
}
.footer ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #eee;
}
.no-border {
    border: 0!important;
}

.bg{
	background: red;
}
